
@{
    ViewData["Title"] = "Về chúng tôi";
    ViewData["About"] = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Breadcrumb Begin-->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a asp-controller="home" asp-action="index">
                        <i class="fa-solid fa-house"></i>
                        Trang chủ
                    </a>
                    <span>Về chúng tôi</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Breadcrumb End-->

<!--About Section Begin-->
<section class="blog-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="blog__details__content">
                    <div class="blog__details__item">
                        <img src="../img/blog/details/vechungtoi.jpg" alt="">
                        <div class="blog__details__item__title">
                            <span class="tip"></span>
                            <h4>Về chúng tôi</h4>
                        </div>
                    </div>
                    <div class="blog__details__desc">
                        <p>
                            Bạn đam mê cà phê và yêu thích khám phá không gian? Hãy ghé thăm Swebi Coffee, quán cà phê độc đáo tại TP.HCM, nơi mang đến trải nghiệm thư giãn trong không gian lấy cảm hứng từ vũ trụ!
                        </p>
                        <p>
                            Swebi Coffee được thành lập vào năm 2014 với mong muốn mang đến cho khách hàng những trải nghiệm độc đáo và mới lạ. Tọa lạc tại 250 (góc đường số 13) Tên Lửa, Bình Trị Đông B, Bình Tân, TP.HCM, quán sở hữu không gian rộng rãi, thoáng mát và thiết kế nội thất tinh tế, kết hợp hài hòa giữa sự hiện đại và sang trọng. Những bức tường và trần nhà được trang trí bằng hình ảnh ấn tượng, tạo cảm giác như lạc vào một không gian khác biệt. Đặc biệt, bạn sẽ được đắm chìm trong những giai điệu du dương, nhẹ nhàng mang âm hưởng của vũ trụ, giúp bạn thư giãn và tận hưởng trọn vẹn từng khoảnh khắc tại Swebi Coffee.
                        </p>
                        <p>
                            Điểm nổi bật của Swebi Coffee chính là các món cà phê đặc biệt, được pha chế từ những hạt cà phê chất lượng cao, mang đến hương vị thơm ngon, đậm đà. Những ly cà phê này sẽ giúp bạn xua tan cái nóng oi ả của mùa hè hoặc làm ấm lòng trong những ngày se lạnh. Ngoài các loại cà phê, Swebi Coffee còn phục vụ nhiều loại đồ uống khác như trà, trà sữa, và các món Ice-blended thơm mát, phù hợp với nhiều sở thích. Đừng quên thưởng thức những món bánh ngọt tươi ngon và các món ăn nhẹ hấp dẫn, giúp bạn có một trải nghiệm trọn vẹn tại quán.
                        </p>
                        <p>
                            Swebi Coffee là địa điểm lý tưởng để bạn tụ tập cùng bạn bè hoặc làm việc. Quán cung cấp wifi miễn phí, ổ cắm điện và máy in tiện lợi, giúp bạn dễ dàng làm việc hay kết nối với bạn bè. Ngoài không gian thư giãn, bạn còn có cơ hội tham gia vào những hoạt động vui nhộn và bổ ích tại quán. Swebi Coffee luôn mong muốn mang đến cho bạn không chỉ những ly cà phê tuyệt hảo mà còn là những giây phút thư giãn, giúp bạn tận hưởng trọn vẹn không gian đầy cảm hứng vũ trụ.
                        </p>
                        <p>
                            Hãy đến với SWEBI COFFEE để khám phá và yêu thích cà phê theo một cách hoàn toàn mới. SWEBI COFFEE - Cà phê không giới hạn!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--About Section End-->

